// Sizes
$pc-base-size: 1920;
$sp-base-size: 375;

// Breakpoints
$break-point-pc: 1440px;
$break-point-tablet: 1024px;
$break-point-sp: 768px;

// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #002b55;
$color-light-blue: #79bcff;

// Font
$font-all: 'Zen Antique', serif;

// Z-index
$z1: 1;
$z5: 5;
